/*----------------------------------Color Palette---------------------------------------*/
/* White: #ffffff
/* Black: #000000
/* Grey: #CCCAC8
/* Yellow: #F5BB3D
/* Green: #74C346
/* Magenta: #DD005F
/* Purple: #7D3493
/* Blue: #3894D7
*/

/*----------------------------------Fonts-----------------------------------------------*/
/*font-family: 'Raleway', sans-serif; Title
/*font-family: 'Arimo', sans-serif; Subitle
/*font-family: 'Bitter', serif; Rest
*/

body{
    font-family: 'Bitter', serif;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 2.074em;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 2px; 
}

header p{
    font-family: 'Arimo', sans-serif;
    font-size: 1.2em;
    letter-spacing: 2px;
}

h1, h3, header p{
    text-align: center;
}

hr{
    border-top-color: #CCCAC8;
}

a{
    color: #000;
    font-weight: bold;
}

a:focus,
a:hover,
a:active{
    color: #000;
    text-decoration: underline;
    outline: none;
}

/*----------------------------------Navigation Bar--------------------------------------*/

.nav{
   max-width: 50%;
   margin: 0 auto;
    
}

.nav p{
    
}

.nav a{
    text-transform: uppercase;
    font-size: 0.694em;
}

/*----------------------------------End Navigation Bar----------------------------------*/



/*----------------------------------Projects--------------------------------------------*/

article .row:first-child div[class*="col"] {
    margin-top:15px;
    margin-bottom:15px;
}

/*---Cover Page Title---*/
h3{
    font-size: 1.728em;
    /*--Responsively vertically and horizontally center the Project Titles--*/
    /*Remove Bootstrap margins*/    
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    /*For absolutely positioned elements, "top" specifies the distance between the top margin edge of the element and the top edge of its containing block.*/
    top: 50%;
    /*For absolutely positioned elements, "left" specifies the distance between the left margin edge of the element and the left edge of its containing block.*/
    left: 50%;
    /*Transform percentages are relative to the <h3> element's height and width*/
    -ms-transform: translateX(-50%)translateY(-50%);
    -o-transform: translateX(-50%)translateY(-50%);
    transform: translateX(-50%)translateY(-50%);
}

/*---Responsive aspect ratio---*/
.stretchy-wrapper{
    width:100%;
/*    padding-bottom:100%; 1:1 aspect ratio*/
    padding-bottom:56.25%; /*16:9 aspect ratio*/
    position: relative;
    border: 3px double #000;
}

.stretchy-wrapper>section{
    position: absolute;
    /*stretch section to take up all of .stretchy-wrapper div*/
    top:0;
    bottom:0;
    left:0;
    right:0;
}
/*---End Responsive aspect ratio---*/

/*Background image styling for all projects*/
.stretchy-wrapper>section{
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -moz-background-position: center center;
    -o-background-position: center center;
    background-position: center center;
}

/*---Project Details styles---*/

/*Hide project details by default*/
.projectDetails{
    display:none;
}

/*All project details appear when hovering or active over project*/
.row div[class*="col"] section:hover .projectDetails,
.row div[class*="col"] section:active .projectDetails{
    display:block;
}

/*Project link, project repo link*/
.stretchy-wrapper>section a,
.stretchy-wrapper>section a span{
    color: black;
    font-weight: bold;
    padding-top: 5px;
}

/*Project link, project repo link*/
.stretchy-wrapper>section a:hover,
.stretchy-wrapper>section a:active,
.stretchy-wrapper>section a span:hover,
.stretchy-wrapper>section a span:active{
    text-decoration: underline;
}

/*Project link*/
section:hover .projectDetails a:nth-child(1),
section:active .projectDetails a:nth-child(1){
    float:left;
}

/*Project repo link*/
section:hover .projectDetails a:nth-child(2),
section:active .projectDetails a:nth-child(2){
    float:right;
}

/*Short description*/
section:hover .projectDetails p,
section:active .projectDetails p{
    clear:both;
}

/*Technologies used*/
.projectDetails span[class*="fa"],
.projectDetails span[class*="devicon"]{
    padding-bottom:5px;
    float: right;
    margin-left:5px;
}

/*Container for project details*/
.projectDetails{
    background-color: rgba(204,202,200,0.9);
    position:absolute;
    bottom:0;
    width:100%;
    padding: 0px 5px;
}

.detail_title {
    font-weight:bold;
    display: inline;
    margin: 0;
    line-height: 2.25;
}

/*Hide cover page when hover/active */
.row div[class*="col"] section:hover h3,
.row div[class*="col"] section:active h3{
    display:none;
}

/*-Project 1-*/

/*Cover page*/
.row div[class*="col"]:nth-child(3) section{
    background-color: #F5BB3D;
}

/*Project details background image*/
.row div[class*="col"]:nth-child(3) section:hover,
.row div[class*="col"]:nth-child(3) section:active{
    background-image:url(../images/Bonn.png);
}

/*-Project 2-*/
.row div[class*="col"]:nth-child(4) section{
    background-color: #74C346;
}

.row div[class*="col"]:nth-child(4) section:hover,
.row div[class*="col"]:nth-child(4) section:active{
    background-image:url(../images/Audrey.png);
}


/*-Project 3-*/
.row div[class*="col"]:nth-child(5) section{
    background-color: #DD005F;
}

.row div[class*="col"]:nth-child(5) section:hover,
.row div[class*="col"]:nth-child(5) section:active{
    background-image:url(../images/Calc.png);
}

/*-Project 4-*/
.row div[class*="col"]:nth-child(6) section{
    background-color: #7D3493;
}

.row div[class*="col"]:nth-child(6) section:hover,
.row div[class*="col"]:nth-child(6) section:active{
    background-image:url(../images/Wik.png);
}

/*-Project 5-*/
.row div[class*="col"]:nth-child(7) section{
    background-color: #3894D7;
}

.row div[class*="col"]:nth-child(7) section:hover,
.row div[class*="col"]:nth-child(7) section:active{
    background-image:url(../images/Quote.png);
}

/*-Project 6-*/
.row div[class*="col"]:nth-child(8) section{
    background-color: #F5BB3D;
}

.row div[class*="col"]:nth-child(8) section:hover,
.row div[class*="col"]:nth-child(8) section:active{
    background-image:url(../images/Twitch.png);
}

/*----------------------------------End Projects----------------------------------------*/
/*----------------------------------About-----------------------------------------------*/
article .row:nth-child(2) img{
    max-width:75%;
    margin-bottom: 15px;
}

@media only screen and (min-device-width : 767px) {
    article .row:nth-child(2) img {
    max-width:140px;    
    }
}

/*----------------------------------End About-------------------------------------------*/
/*----------------------------------Contact---------------------------------------------*/
.contactOptions{
    display: block;
    width:50%;
    margin: 0 auto;
    text-align:center;
    font-size: 1.728em;
    word-spacing: 5px;
}
/*----------------------------------End Contact-----------------------------------------*/
/*----------------------------------Footer----------------------------------------------*/
footer{
    text-align:center;
    font-size: 0.694em;
    margin-top:15px;
    margin-bottom:30px;
}
/*----------------------------------End Footer------------------------------------------*/